@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="\imges\Ahsan pic.png" alt="Profile Image" class="img-fluid rounded" style="height:40vh ;  width:20vw" >
            </div>
            <div class="col-lg-6">
                <h2 class="display-4">Ahsan Naveed</h2>
                <p class="lead">Software Engineer | Flutter Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet turpis vel facilisis bibendum. Suspendisse potenti. Nullam interdum bibendum velit, id gravida metus ullamcorper vel.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <h2 class="display-4 text-center">Skills</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <h4>Frontend Development</h4>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Backend Development</h4>
                <ul>
                    <li>C#</li>
                    <li>ASP.NET Core</li>
                    <li>Node.js</li>
                    <li>Express</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Other Skills</h4>
                <ul>
                    <li>Database Design (SQL, MongoDB)</li>
                    <li>Version Control (Git)</li>
                    <li>Responsive Web Design</li>
                    <li>Problem Solving</li>
                </ul>
            </div>
        </div>
    </div>
</section>
