@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Failed Submission";
}

<div class="text-center">
    <div class="container">
    <h1 style="font-size: 5vw ; color: #FF0F00 ; padding-top:50px">Submission Failed</h1>
    <p style="font-size: 2vw">error found </p>

        <p>@ViewBag.ErrorMessage</p>
    </div>
</div>
